<section>
    <main class="container">
        <div class="jumbotron">
          <br class="my-4">
          <h1 class="display-4">About Me</h1>
          <p class="lead">Crafting Code, Shaping Experiences</p>
          <hr class="my-4">
          <div class="container">
            <div class="row">
              
              <div class="col-sm" style="text-align: center;">
                <figure class="figure">
                    <img src="/images/headshotG.png" class="img-thumbnail" alt="Chris Rojas" width="200">
                    <figcaption class="figure-caption cursive-text"  style="text-align: left;">Chris Rojas</figcaption>
                  </figure>
              </div>
    
              <div class="col-sm">
                <p>
                    Hello! I'm Chris Rojas, a passionate and dedicated Game Developer enthusiast currently in my 2nd year of study at Centennial College, pursuing an advanced diploma in Game Programming. My journey in the world of technology and game development has been an exciting one, shaped by a diverse educational background.
                    I earned a college certificate in technology from Centennial College, which complemented the foundation of my technical skills. However, before my adventure in Canada, my passion for computing and the world of gaming began earlier in Mexico City, where I obtained a technician degree in Computer Science.
                    What truly fuels my drive in the world of game programming is the incredible positive impact that video games have had on my life. They've been a source of inspiration, creativity, and joy, and I aspire to create projects that can bring that same sense of wonder and happiness to others.
                    Whether it's coding, design, or the art of storytelling, I'm dedicated to honing my skills and always aiming to make my work reflect the same positive impact I've received.
                    Feel free to connect with me to discuss. I'm always up for a good conversation. 
                </p>
                <br class="my-6">
                <p class="lead">
                  <a class="btn btn-secondary btn-md" href="/Assets/doc/Resume.pdf " role="button" target="_blank">My resume</a>
                </p>
              </div>
    
            </div>
          </div>
    
    
    
        </div>
    
      </main>
    

</section>