<section>
  <main class="container">
    <div class="jumbotron">
      <br class="my-4">
      <h1 class="display-4">Contact Me</h1>
      <p class="lead">Get assistance and schedule consultation. <strong>It's FREE!</strong></p>
      <hr class="my-4">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-6">
            
            <p style="text-align: left;" class="display-4">Chris Rojas</p>
            <p style="text-align: left;">
            <i class="fas fa-envelope fa-sm"></i> crojas8@my.centennialcollege.ca<br>
            <i class="fas fa-map-pin fa-lg"></i> ON L4B 4L5</p>
            
          
          </div> 
          <div class="col-sm-6" style="text-align: left;">
            <form action="/contact" method="post">
              <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName">
              </div>
              <div class="mb-3">
                <label for="contactNumber" class="form-label">Contact Number</label>
                <input type="tel" class="form-control" id="contactNumber">
              </div>
              <div class="mb-3">
                <label for="emailAddress" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="emailAddress">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="4"></textarea>
              </div>
              <div class="text-end">
                <button type="submit" class="btn btn-secondary">Submit</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>

  </main>
<!-- 
  Christopher Rojas
  301189137
  -->
</section>