<section>
    <main class="container">
        <div class="jumbotron">
          <br class="my-4"><br>
          <h1 class="display-4">Welcome to my Portfolio</h1>
          <p class="lead">Coding Creativity, Building Possibilities</p>
          <hr class="my-4">
          <p>I specialize in crafting user-friendly projects that not only capture attention but also drive potential customers to your business. My mission is to provide exceptional solutions that seamlessly blend creativity with functionality.

            I'm dedicated to empowering you with a robust digital presence that sets your company apart in the ever-evolving digital landscape. Together, let's create experiences that elevate your brand and open new possibilities.</p>
    
          <p class="lead">
            <br class="my-6">
            <!-- button to direct to file-->
            <a class="btn btn-secondary btn-md" href="/about" role="button">Learn more about me</a>
          </p>
        </div>
    
      </main>
      <!-- 
  Christopher Rojas
  301189137
  -->
</section>