<section>
  <main class="container">
    <div class="jumbotron">
      <br class="my-4">
      <h1 class="display-4">My projects</h1>
      <hr class="my-4">     
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">        
        <div id="carouselTop1" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTop1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselTop1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselTop1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <video width="100%" autoplay loop muted class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4"  alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Food nights</h5>
                <p class="">This project was a 3D game in which you solved puzzles to beat every level</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTop1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselTop1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>      
      <div class="col-sm-6">        
        <div id="carouselTop2" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTop2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselTop2" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselTop2" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <video width="100%" autoplay loop muted class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4"  alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Food nights</h5>
                <p class="">This project was a 3D game in which you solved puzzles to beat every level</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselTop2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselTop2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>   
      <div class="col-sm-12">        
        <div id="carouselBottom" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselBottom" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <video width="100%" autoplay loop muted class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4"  alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Food nights</h5>
                <p class="">This project was a 3D game in which you solved puzzles to beat every level</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <video width="100%" autoplay loop muted  class="d-block w-100"> <source src="/videos/Tortilla.mp4" type="video/mp4" alt="">  </video> 
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselBottom" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselBottom" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>   
     
    </div>
  </div>
      
    </div>
  </main>

</section>