<!-- Main Content -->
<section>
    
      <!-- Add more service descriptions as needed -->
    <main class="container">
    <div class="jumbotron">
      <br class="my-4">
      <h1 class="display-4">My Services</h1>
      <hr class="my-4">
     
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <h3>Web Development</h3>
        <p>I specialize in creating responsive and user-friendly websites.</p>
        <video width="100%" autoplay loop muted>            
          <source src="/videos/Website.mp4" type="video/mp4"> </video>
      </div>      
      <div class="col-sm-6">
        <h3>Graphic Design and UI</h3>
        <p>I design UI, logos, banners, and other visual assets.</p>       
          <video width="100%" autoplay loop muted>            
              <source src="/videos/UI_Time Fissures.mp4" type="video/mp4">
          </video>
      </div>
      <div class="col-sm-6">
        <h3>Game Development</h3>
        <p>Transform your gaming ideas into reality. I specialize in creating captivating and interactive game experiences for various platforms.</p>
        <video width="100%" autoplay loop muted>            
          <source src="/videos/GunBlend.mp4" type="video/mp4"> </video>
      </div>
      <div class="col-sm-6">
        <h3>Video Production</h3>
        <p>Bring your brand to life with engaging video content. I create promotional videos, tutorials, and more to showcase your business.</p>
        <video width="100%" autoplay loop muted>            
          <source src="/videos/Website.mp4" type="video/mp4"> </video>
      </div>
    </div>
  </div>
      



    </div>

  </main>

</section>