
    /* Custom CSS class for cursive font style */
    .cursive-text {
        font-family: 'Brush Script MT', cursive;
        font-size: 150%;

    }

    .white-text-with-outline {
        color: white;
        -webkit-text-stroke: 1px black;
        font-weight: bold;
      }

    
  /* style the carousel captions */
  .carousel-caption-faded {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control the opacity */
    color: white; 
    padding: 20px; 
  }


    

/* 
@media (min-width: 1300px) {
    .logo {
        max-width: 150px; 
        height: 100px; 
        display: block; 
        margin: 0 auto; 
    }
    nav {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    ul {
        list-style: none;
        display: flex;
    }
    
    li {
        margin: 0 100px; 
    }
    
    a {
        text-decoration: none;
    }
}

@media (min-width: 267px) {
    .logo {
        max-width: 150px; 
        height: 100px; 
        display: block; 
        margin: 0 auto; 
    }
    nav {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
    ul {
        list-style: none;
        display: flex;
    }
    
    li {
        margin: 0 50px; 
    }
    
    a {
        text-decoration: none;
    }
}
   
    
 */
